<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <div class ="container"> 
        <div class="logo" onClick="window.location.reload();">
            Travel Planner
        </div>
        <form class = "inputForm">
            <div>
                <input type="text" name="location" id="loc" placeholder="Enter your destination" required />
            </div>
            <div>
                <input type="date" name="date" id="date" placeholder="Enter your departure date" required /> 
            </div>
            <div>
                <input type="submit" id = "sub" value="Submit">
            </div>
        </form>
        
        <ul class ="destinations" onclick="return Client.handleClick(event)">
           
            <span class='loading'>
                <img src="https://i.postimg.cc/50sQXWFq/spinner-1.gif" alt = "loaduing" width = "300px" height = "300px" style="margin: 0 40%;" 
                     sizes="(max-width: 600px) 100px"
                />
            </span>
        </ul>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>