$div_back_color:#e3962f;
$li_back_color: #fbfbfb;

.inputForm{
    width:30%;
    margin: 2% auto;
    padding: 3% 2% 2% 1%;
    text-align: center;
    background-color: #fbfbfb;
    border-radius: 5px;
    filter: brightness(1);
    border: 1px solid gray;
    box-shadow: 1px 1px gray;
}

#loc,input[type=date]{
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px;
    margin: 5px auto;
    box-sizing: border-box;
}

input[type=submit]{
    
    padding: 8px 20px;
    font-size: 20px;
    margin: 15px 0 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 0;
    background-color: #e3962f;
    cursor: pointer;
    
    &:hover{
        border: 1px solid #776d4c;
    }
}

.destinations{
    
    margin:0 3%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 600px;
    .loading>img{
        margin: 10% 40%;
        height: 50%;
    }
    li
    { 
        background-color: #fbfbfb;
        width: 20%;  
        margin: 0 2% 2% 2%;
        border-radius: 3%;
        border: 1px solid #ccc;  
        flex: unset 0 21%;
    }
    
    .dest1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2, h4{
            text-align: center;
        }
        img{
            width:80%;
            opacity: .8;
        }
        img:hover{
            opacity: 1;
            transition: .7s ease;        
        }
            
    }
    .weatherContainer{
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.808);
        height: 180px; 
        width: 80%;
        margin: 5% auto;
        background-color: $div_back_color;
       
        &:hover{
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.9);
            transition: 1s ease;

        }
        #weatherMain{
            margin: 0 auto;
            padding: 0 auto;
            height: 100px;
        }
        #weatherDescriptionHeader{
            text-align: center;
            padding-bottom: 0%;
            padding-top: 3%;
            font-weight: 500;
        }
        #temperature>h2, #feel{
            text-align: center;
        }
        #temperature>{
           width: 1px;
           margin-bottom: 0;
        }
        #documentIconImg>img{
            height: 50px;
            width: 20%;
            display: block;
            margin-top: -20px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom:10px
        }
        .bottomDetails{
            text-align: center;
            padding-top: 0%;
            margin-top: -10px;
        }
    }
}
.tripps
{  
    position: relative;
    button{
        background-color: #e3962f;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: black;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px auto;
        cursor: pointer;
    }
    button:hover{
        animation: shake 0.5s;
    }
        @keyframes shake {
            0% { transform: translate(1px, 1px) rotate(0deg); }
            10% { transform: translate(-1px, -2px) rotate(-1deg); }
            20% { transform: translate(-3px, 0px) rotate(1deg); }
            30% { transform: translate(3px, 2px) rotate(0deg); }
            40% { transform: translate(1px, -1px) rotate(1deg); }
            50% { transform: translate(-1px, 2px) rotate(-1deg); }
            60% { transform: translate(-3px, 1px) rotate(0deg); }
          }
    #notes{
        width: 80%;
        margin: 5px 5%;
        padding: 10px;
        resize: none;
    }
    .display{
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.808);
        background-color: $div_back_color;
        padding: 10px 10px;
     
        p{
            background-color: $div_back_color;
            border: none;
            padding: 4px 10px;
        }
    }
}


@media only screen and (min-width:900px) and (max-width: 1350px )
{
    .destinations{
        li
        {
            width: 30%;          
        }
    }
}

@media only screen and (max-width: 1000px){
    .inputForm{
        width:50%;
        margin: 15% auto;
        padding: 3% auto 1%;
    }
    .destinations{
        li
        {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 600px){
    .inputForm{
        width:50%;
        margin: 15% auto;
        padding: 3% auto 1%;
    }
    
    .destinations{
        li
        {
            width: 60%;
        }
    }
}
